@charset "UTF-8";
.head{position:fixed; width:100%; z-index:99999;}
.head .navbar-header {width: 235px;}
.head .navbar-default{background-color: #4285f4;    border-bottom: 1px solid #c7c7c7;height: 65px;border-radius: 0;margin: 0;}
.head .navbar-header{padding-top: 3px;padding-left: 30px;}
.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>li:hover>a{color: #fff!important;}
.head .dropdown>a{padding-top:15px!important;}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li:hover>a {color: #fff!important;}
.navbar-default .nav>li>a:focus, .navbar-default .nav>li>a:hover{background-color: transparent;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{background-color: transparent;}
/*内容*/
.head+.main{margin:0;background-color: #f1f3f7; padding-top:65px;height: 100%;}
.panel-content{border:0;position: relative;}
/*左菜单*/
body.canvas-menu .navbar-static-side, body.fixed-sidebar .navbar-static-side{width:269px;}
#page-wrapper{margin:0 0 0 269px;padding:0;}
.navbar-static-side{background-color: #fff;}
.left-menu {
    border-right: 1px solid #e7e7eb;
}
.left-scrool-panel {
    height: calc(100vh - 65px);
    overflow-y: auto;
}
.leftMenu {
    margin: 0 8px;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
}
.leftMenu:last-child{border-bottom:0;}
.leftMenu:first-child {
    margin-top: 0;
}
.leftMenu-header {
    margin: 0 -8px;
    line-height: 43px;
    height: 43px;
    padding: 0 10px;
}
.leftMenu-header span {
    padding-left: 5px;
}
.indexImg {
    background-image: url(../img/c.png);
    background-repeat: no-repeat;
    display: inline-block;
}
.firstMenuDown {
    display: none;
    background-position: -73px -3px;
    width: 11px;
    height: 3px;
    float: right;
    vertical-align: top;
    margin-top: 21px;
    padding-right: 25px;
}
.leftMenu.active .firstMenuDown {
    display: inline-block;
}
.firstMenuUp {
    background-position: -73px -10px;
    width: 11px;
    height: 11px;
    float: right;
    vertical-align: top;
    margin-top: 17px;
    padding-right: 25px;
}
.leftMenu.active .firstMenuUp {
    display: none;
}
.secondMenu {
    display: none;
    margin: 0 -8px;
    padding-left: 0;
}
.leftMenu.active .secondMenu {
    display: block;
}
.leftMenu:last-child .secondMenu {
    border-bottom: 0;
}
.secondMenu>li {
    padding-left: 33px;
    height: 38px;
    line-height: 38px;
    cursor: pointer;
}
.secondMenu>li a {
    display: block;
}
.secondMenuIcon {
    width: 0;
    display: inline-block;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid #b2b2b2;
}
.secondMenu>li span {
    padding-left: 5px;
    color: #878787;
}
.secondMenu>li.active {
    background-color: #4285f4;
}
.secondMenu>li.active .secondMenuIcon {
    border-left-color: #fff;
}
.secondMenu>li.active span {
    color: #fff;
}

#bgimg {
background-image:url(/public/admin/img/517754433336540172.png);
background-size:cover;color: silver;
font-family:"华文楷体";
height: 100%;
width:100%;
}


