.about-body {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: -4px;
    padding-top: 162px;
    background: url("../images/about_top.png") center 0px no-repeat;
}

.about-list {
    width: 1258px;
    height: auto;
    min-height: 700px;
    background: #fff;
    margin: 0px auto;
    border-radius: 8px;
}

.about-title {
    height: 115px;
    font-size: 32px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.about-content {
    height: auto;
    font-size: 16px;
    margin: 20px 60px;
    line-height: 30px;
}

.about-address {
    width: 900px;
    height: 627px;
    margin: 0 auto;
    border: 2px #f5f5f5 solid;
    background: url("../images/address.png");
}

.about_info{
    width: 100%;
    height: auto;
    margin: 0px 60px;
}

.about_info .about_item{
    font-size: 16px;
    margin-bottom: 20px;
}
