.dcontent-body{
    margin-top: 20px;
    width: 100%;
    height: auto;
    min-height: 950px;
}

.dcontent-list{
    width: 66%;
    height: auto;
    min-height: 950px;
    background: #fff;
    margin: 0px auto;
}

.dcontent-title{
    font-size: 32px;
    color: #000;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.dcontent-date{
    font-size: 18px;
    color: #b5b5b5;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.dcontent-list ul li{
    font-size: 18px;
    color: #000;
    padding-bottom: 30px;
    margin: 0 50px;
    display: flex;
    justify-content: center;
}

.content{
    padding: 30px;
    line-height: 40px;
    font-size: 16px;
}