@charset "utf-8";
html,body{
    width: 100%;
}
body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,dl,dd,fieldset,form,input,select,textarea,figure,div,form,img,ul,ol,li,i,b,table,tr,td,th,fieldset,label,legend{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
body{font-size:12px;font-family:"Microsoft YaHei","Helvetica Neue","Hiragino Sans GB", "Segoe UI", Tahoma, Arial, STHeiti, sans-serif; _font-family:Tahoma,Arial,Helvetica,STHeiti,sans-serif;color:#333333;font-weight:normal;font-style:normal;}
ul,ol,menu{list-style:none;margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,a img,iframe{border:0 none;}
address,em,i{font-style:normal;}
input,select,button{vertical-align:middle;outline:0;}
input,textarea,select {*font-size:100%;outline:0;}
button {overflow: visible; }
a,img,a img{border:0px;}
a{text-decoration:none;cursor:pointer;transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-moztransition:all 0.2s ease-in-out; color:#333;}
a:hover{text-decoration:none; color:#4296d1;}
input.text,select.text,textarea.text{outline:none; border:1px solid #e3e3e3; height:26px; line-height:26px; padding:3px 0px 3px 5px;font-size:12px; color:#555;}
textarea{ outline:none; resize:none; border:1px solid #e3e3e3; font-size:12px;}
input.check{ vertical-align:middle; margin-right:2px;}
img{ vertical-align:top; -ms-interpolation-mode: bicubic; -moz-interpolation-mode: bicubic; -webkit-interpolation-mode: bicubic;/*图片缩放失真问题*/ transition: all 0.6s ease; -webkit-transition: all 0.6s ease; -moz-transition: all 0.6s ease; -ms-transition: all 0.6s ease; max-width:100%;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}

body{
        background: #f3f3f3;
}

.header{
    height: 50px; width: 100%;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: #31abf8;
    position: fixed;top: 0;
    left: 0;
}
.banner{
   height: auto;
   overflow: hidden;
   width: 100%;
}
.banner img{
    width: 100%;
    margin: 0 auto;
}
.info{
    height: auto;
    overflow: hidden;
    margin-top: 10px;
}

.info .title{
    font-size: 16px;
    font-weight: bold;
    color: #000;
    width: 90%;
    margin: 0 auto;
    height: auto;
    line-height: 28px;
    overflow: hidden;
    text-align: center;
}
.info .content{
    font-size: 14px;
    width: 90%; margin: 0 auto;
    margin-top: 10px;
    line-height: 20px;
    height: auto;
    overflow: hidden;
}
.product{
    background: #fff; 
    width: 100%;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    margin-top: 20px;
    padding-bottom: 20px;
}
.product  .title{
    font-size: 16px;
    font-weight: bold;
    color: #000;
    width: 90%;
    margin: 0 auto;
    height: auto;
    line-height: 28px;
    overflow: hidden;
    text-align: center;
    margin-top: 10px;
}
.product .item{
    width: 50%;
    text-align: center;
    float: left;
    margin-top: 10px;
}
.product .item .img{
    width: 90%;
    margin: 0 auto;
}
.product .item .img img{
    max-width: 100%;
}
.product .item .name{
    font-size: 14px;
    font-weight: bold;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}
.youshi{
    background: #fff; 
    width: 100%;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    margin-top: 20px;
}
.youshi  .title{
    font-size: 16px;
    font-weight: bold;
    color: #000;
    width: 90%;
    margin: 0 auto;
    height: auto;
    line-height: 28px;
    overflow: hidden;
    text-align: center;
    margin-top: 10px;
}
.youshi .item{
    float: left;
    width: 50%;
    height: 160px;
    overflow: hidden;
    margin-top: 10px;
}

.youshi .item .img{
    background: #31abf8;
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
}
.youshi .item .img img{
    width: 30px;
    height: 30px;
    margin-top: 15px;
}
.youshi .item .tt{
    width: 80%; margin: 0 auto;
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    height: 20px;
    line-height: 20px;
}
.youshi .item .con{
    font-size: 13px;
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
    line-height: 20px;
    height: 60px;
    overflow: hidden;
}
.kongbai{
    height: 100px;
    width: 100%;
}
.page1 ,.page2{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 50px;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background: #fff;
    border-top: 1px #f2f2f2 solid; 
}
.footer img{
    height: 30px;
    width: 30px;
}
.footer .home{
    float: left;
    width: 50%;
    text-align: center;
}
.footer .wode{
    float: left;
    width: 50%;
    text-align: center;
}
.footer .img{
    height: 30px;
    margin-top: 5px;
}
.footer  .off .img1{
    display: block;
    margin: 0 auto;
}
.footer  .off .img2{
    display: none;
}

.footer  .on .img1{
    display: none;
}
.footer  .on .img2{
    display: block;
    margin: 0 auto;
}
.footer  .on{
    color:#31abf8;
}
.footer  .off{
    color:#cdcdcd;
}


.logo{
    width: 100%;
    height: 80px;
    background: #fff; 
    margin-top: 0px;
    padding-top: 20px;
}
.logo img{
    display: block;
    margin: 0 auto;
}

.addr{
    width: 90%;
    height: 40px;
    margin-left: 5%;
    margin-top: 20px;
    background: #fff;
    border-radius: 10px;
}

.addr .lt{
    float: left;
    width: 20%;
    height: 30px;
    margin-top: 5px;
    border-right: 1px #cdcdcd solid;
    text-align: center;
}
.addr .lt img{
    height: 30px;
    width: 30px;
}
.addr .rt{
    width: 70%;
    float: left;
    margin-left: 3%;
    line-height: 20px;
}

.btn{
    display: block;
    width: 90%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;color: #fff;
    background: #31abf8;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}
.btn:hover{
    color: #fff;
}
.addr .rt .tp{
    font-size: 12px;
    color: #cdcdcd;
}
.addr .rt .cn{
    color: #000;
    font-size: 14px;
}
.cp{
    text-align:  center;
    margin-top: 20px;
    width: 100%;
    line-height: 20px;
}