.wdetails-body {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: -4px;
}

.wdetails-top {
    width: 100%;
    height: 227px;
    background: url("../images/wdetails_top.png") center 0px no-repeat;
    line-height: 227px;
}

.wdetails-top span {
    font-size: 38px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.details_info {
    width: 1255px;
    height: auto;
    margin: 0 auto;
    min-height: 700px;
    background: #fff;
}

.details_info .app_base {
    width: 100%;
    height: 396px;
    border-bottom: 1px #f5f5f5 solid;
    padding: 30px 30px;
}

.swiper_flashbox {
    width: 35%;
    height: 290px;
    position: relative;
    margin-top: 60px;
    margin-left: 30px;
    float: left;
}

.app_info {
    width: 60%;
    height: auto;
    overflow: hidden;
    margin-bottom: 80px;
    float: right;
    position: relative;
}
.show_code{
    position: absolute;
    right: 100px;
    top: 10px;
    height: 220px;
    width: 200px;
    text-align: center;
}

.swiper-container{
    width: 253px;
    height: 500px;
    margin: 0px auto;
}

.swiper-slide-01 {
    width: 253px;
    height: 447px;
    background-image: url("../images/wdetails_item_bg.png");
    /*background-repeat: repeat-x;*/
}

.swiper-slide-02 {
    width: 253px;
    height: 447px;
    background-image: url("../images/wdetails_item_bg.png");
    /*background-repeat: repeat-x;*/
}

.swiper-slide-03 {
    width: 253px;
    height: 447px;
    background-image: url("../images/wdetails_item_bg.png");
    /*background-repeat: repeat-x;*/
}

.app_info_title {
    font-size: 30px;
    margin-top: 20px;
}

.app_info_item {
    font-size: 18px;
    display: flex;
    margin-top: 80px;
}

.app_info_item .lt {
    float: left;
}

.app_info_item .rt {
    float: right;
    margin-left: 40px;
}

.app_info_item .price {
    color: #FE6920;
}

.app_info_item .fw-days {
    background: #4296D1;
    padding: 2px 3px;
    color: #fff;
}

.app_info_item .btn_use {
    background: #2FCF6F;
    padding: 6px 15px;
    color: #fff;
    border-radius: 4px;
}

.app_info_item .btn_pay {
    background: #FE5C0C;
    padding: 6px 15px;
    color: #fff;
    border-radius: 4px;
}

.app_details_info {
    width: 92%;
    height: auto;
    padding: 30px 4%;
    min-height: 500px;
}

.app_details_info .title {
    font-size: 30px;

}

.app_details_info .info {
    font-size: 18px;
    margin: 20px 10px;
}

.app_info_item .imgs {
    height: 447px;
    display: flex;
}

.app_details_info .imgs img {
    width: 253px;
    height: 447px;
    margin-right: 22px;

}