.toutiaolt{
    width: 400px;
    height: 800px;
    background:rgba(0,0,0,0.6); 
    border: 1px solid #000;
    border-radius: 20px;
    padding: 0px;
    position: relative;
    float: left;
}
.yulang{
    height: 760px; width: 100%;
    overflow-y: scroll;
    margin-top: 20px;
}
.yulang .title{
    font-size: 20px;
    width: 400px;
    margin-left: 10px;
    height: auto;
    overflow: hidden;
    margin-top: 0px;
    text-align: center;
    color: #000;
}
.yulang .author{
    height: 30px;
    line-height: 30px;
}
.yulang .author span{
    float: left;
    margin-left: 10px;
}
.toutiaolt .title{
    position:  absolute;
    height: 60px;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    border-radius: 20px 20px 0px  0px ; 
}
.toutiaolt .title h2{
    font-size: 20px;
    line-height: 30px;
    width: 90%;
    height: 30px; overflow: hidden;
    margin: 0 auto;
    margin-top: 10px;
}
.duanluo{
    height: 678px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
}
.duanluo .item{
    height: 120px;
    width: 370px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    background: #fff;
    border-radius: 10px;
    position: relative;
}
.jq_delete_dl{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.toutiaolt .imglist{
    height: 100px;
    width: 100%;
    margin-top: 10px;
}
.toutiaolt .imglist .imgadd{
    float: left;
    width: 100px;
    margin-left: 25px;
}
.toutiaolt .imglist img{
    width:100px;
    height: 100px;
}
.toutiaolt .button{
    height: 60px;
    background: #fff; 
    border-radius:0px  0px  20px 20px ; 
    text-align: center;
    line-height: 60px;
}

.toutiaolt .item .lt{
    float: left;
    width: 100px;
    height: 80px;
    text-align: center;
    margin-top: 20px;
}
.toutiaolt .item .rt{
    float: right;
    margin-right: 10px;
    width: 250px;
    margin-top: 10px;
    margin-left: 10px;
    height: 100px;
    overflow: hidden;
}

.toutiaort{
    float: left;
    margin-left: 20px;
    width: 440px;
    height: 800px;
    background:#fff; 
    border: 1px solid #000;
    border-radius: 20px;
    padding: 0px;
    position: relative;
}
.content{
    width: 90%;
    margin-left: 5%;
    height: auto;
    overflow: hidden;
}
.content .dl {
    line-height: 20px;
    font-size: 14px;
}
.content .dl img{
    max-width: 100%;
}
.photolist{
    position: absolute;
    top:20px;
    left: 0px;
    width: 880px;
    height: 800px;
    background:#fff; 
    border: 1px solid #000;
    border-radius: 20px;
    z-index: 1000;
    padding: 20px;
}
.photolist .content{
    height: 680px;
    width: 100%;
    overflow-y: scroll;
    margin-top: 10px;
    margin-left: 0px;
}

.photolist h2{
    border-bottom: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
}


.photolist .closed{
    position: absolute;
    right: 10px;
    top: 10px;
    
}
.photolist .imgitem img{
    width: 150px;
    height: 150px;
    display: block;
}
.photolist .imgitem{
    float: left;
    width: 150px;
    height: 200px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}
.photolist .action{
     width: 100%;margin-top: 10px;
}
.photolist .addimg{
    width: 150px;
    height: 200px;
    float: left;
     margin-left: 10px;
    margin-top: 10px;
}
.addimg img{
     width: 150px;
    height: 150px;
    display: block;
}