.wxb_banner_lb{
    width: 100%;
    height: 200px;
}
.wxb_banner_lb img{
    width: 375px;
    height: 100%;
}
.wxb_photo{
  width:  375px;
  height: auto;
  overflow: hidden; 
}
.wxb_photo img{
    width: 375px;
    height: 100%;
    max-width: 375px;
}
