
.m-footer .address {
    margin-bottom: 22px;
}

.m-footer .police {
    line-height: 1;
}

.m-footer .police .logo {
    display: inline-block;
    *display: inline-blockine;
    *zoom: 1;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-right: 5px;
}

.m-confirm {
    width: 67px;
    position: fixed;
    top: 50%;
    right: 0px;
    background-color: #fff;
    font-size: 12px;
    color: #fff;
    margin-top: -171px;
    z-index: 9999;
}

.m-confirm .z-show {
    display: block !important;
}

.m-confirm .z-over {
    background-color: #197ad8 !important;
}

.m-confirm .z-over-1 {
    background-color: #c6c6c6 !important;
}

.m-confirm .i-sprite {
    background: url(../images/icon-sprite.png) no-repeat;
    display: inline-block;
    zoom: 1;
    width: 67px;
    height: 30px;
    margin-top: 28px;
    overflow: hidden;
}

.m-confirm .online {
    height: 99px;
    text-align: center;
    border-bottom: 1px solid #8dc7ff;
    cursor: pointer;
    background-color: #378fe5;
}

.m-confirm .online .i-sprite-1 {
    background-position: 20px 0px;
}

.m-confirm .tel {
    height: 99px;
    text-align: center;
    border-bottom: 1px solid #8dc7ff;
    position: relative;
    cursor: pointer;
    background-color: #378fe5;
}

.m-confirm .tel .i-sprite-2 {
    background-position: 20px -28px;
}

.m-confirm .tel .content {
    width: 138px;
    height: 43px;
    background: url(../images/tel-aside@2x.png) no-repeat;
    background: url(../images/tel-aside@1x.png) no-repeat \9;
    background-size: 138px 43px;
    position: absolute;
    display: none;
    top: 27px;
    left: -147px;
    z-index: 9999;
}

.m-confirm .wchat {
    height: 99px;
    text-align: center;
    position: relative;
    cursor: pointer;
    background-color: #378fe5;
}

.m-confirm .wchat .i-sprite-3 {
    background-position: 20px -59px;
}

.m-confirm .wchat .content {
    width: 138px;
    height: 175px;
    background: url(../images/wx-aside@2x.png) no-repeat;
    background: url(../images/wx-aside@1x.png) no-repeat \9;
    background-size: 138px 175px;
    position: absolute;
    display: none;
    top: -39px;
    left: -147px;
    z-index: 9999;
}

.m-confirm .demo {
    padding: 30px 0;
    text-align: center;
    background-color: #378fe5;
    border-bottom: 1px solid #8dc7ff;
    cursor: pointer;
}

.m-confirm .demo .icon {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
}

.m-confirm .demo:hover {
    background-color: #197ad8;
}

.m-confirm .try {
    padding: 30px 0;
    text-align: center;
    background-color: #378fe5;
    border-bottom: 1px solid #8dc7ff;
    cursor: pointer;
}

.m-confirm .try .icon {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
}

.m-confirm .try:hover {
    background-color: #197ad8;
}

.m-confirm .top {
    height: 43px;
    text-align: center;
    background-color: #dbdbdb;
    cursor: pointer;
}

.m-confirm .top .i-sprite-4 {
    height: 20px;
    background-position: 27px -81px;
    margin-top: 0px;
}

.m-confirm .top p {
    color: #666;
    font-weight: bolder;
    height: 20px;
    line-height: 10px;
}

.m-yixin {
    zoom: 1;
    width: 1000px;
    margin: 0 auto;
}

.m-yixin:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}

@media screen and (min-width: 1200px) {
    .m-yixin {
        width: 1200px;
    }
}

.m-yixin a {
    font-size: 12px;
    color: #fff;
    opacity: 0.4;
    line-height: 28px;
}

.m-yixin a:hover {
    opacity: 1;
}

.m-yixin .ttl {
    float: left;
    margin-left: 10px;
}

.m-yixin .navList {
    float: right;
    margin-right: 10px;
}

.m-yixin .navList li {
    float: left;
    margin-left: 66px;
}

.m-yixin .navList li:first-child {
    margin-left: 0;
}

.m-yixin .navList li a {
    font-size: 12px;
}

.m-modalTipDemo {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
}

.m-modalTipDemo table, .m-modalTipDemo tr, .m-modalTipDemo td {
    width: 100%;
    height: 100%;
}

.m-modalTipDemo .dialog {
    position: relative;
    width: 440px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 35px 5px #000;
    overflow: hidden;
}

.m-modalTipDemo .dialog .close {
    position: absolute;
    top: 5px;
    right: 12px;
    color: #fff;
    font-size: 30px;
    line-height: 1;
    opacity: 1;
    cursor: pointer;
    transition: 1s;
}

.m-modalTipDemo .dialog .close:hover {
    opacity: 0.6;
    transition: 1s;
}

.m-modalTipDemo .dialog .hd {
    padding: 15px 26px;
    background: #49a0f5;
    color: #fff;
    font-size: 16px;
}

.m-modalTipDemo .dialog .bd {
    padding: 34px;
}

.m-modalTipDemo .dialog .bd .txt {
    font-size: 14px;
    color: #383838;
    line-height: 2;
    text-align: center;
}

.m-modalTipDemo .dialog .bd .link {
    margin-top: 24px;
    text-align: center;
}

.m-modalTipDemo .dialog .bd .link a {
    font-size: 14px;
    color: #3b8fea;
    line-height: 1.5;
}

.m-modalTipDemo .dialog .bd .link a:hover {
    text-decoration: underline;
}

.u-icon-caret {
    display: inline-block;
    *display: inline-blockine;
    *zoom: 1;
    width: 12px;
    height: 12px;
    background: url(../images/down-white@2x.png) no-repeat;
    background: url(../images/down-white@1x.png) no-repeat \9;
    background-size: 12px auto;
    background-position: center;
}

li > a:hover .u-icon-caret {
    background: url(../images/down-blue@2x.png) no-repeat;
    background: url(../images/down-blue@1x.png) no-repeat \9;
    background-size: 12px auto;
    background-position: center;
}

.solid .u-icon-caret {
    background: url(../images/down-black@2x.png) no-repeat;
    background: url(../images/down-black@1x.png) no-repeat \9;
    background-size: 12px auto;
    background-position: center;
}

.z-sel .u-icon-caret {
    background: url(../images/down-blue@2x.png) no-repeat;
    background: url(../images/down-blue@1x.png) no-repeat \9;
    background-size: 12px auto;
    background-position: center;
}

.u-btn {
    display: inline-block;
    *display: inline-blockine;
    *zoom: 1;
    padding: 7px 15px;
    background-color: #49a0f5;
    border: 1px solid #49a0f5;
    border-radius: 2px;
    font-size: 14px;
    line-height: 1;
    color: #fff;
}

.u-btn:hover {
    background-color: #237ed9;
    border: 1px solid #237ed9;
    color: #fff;
}

.u-btn.signup {
    padding: 7px 15px;
    background-color: #fff;
    border: 1px solid #fff;
    color: #383838;
}

.u-btn.signup:hover {
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
    color: #383838;
}

.u-btn.signin {
    padding: 7px 15px;
    background-color: transparent;
    border: 1px solid #e5e5e5;
    color: #e5e5e5;
}

.u-btn.signin:hover {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.u-btn.btn-try {
    padding: 9px 32px;
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.45px;
    line-height: 1;
    text-align: center;
}

.u-icon-nav {
    display: block;
    width: 38px;
    height: 38px;
    margin: 0 auto;
    background-size: 38px auto;
    background-repeat: no-repeat;
}

.u-icon-nav.nav-product-online {
    background-image: url(../images/nav-fn-service.png);
    background-position: 0 4px;
}

a:hover .u-icon-nav.nav-product-online, dd.z-sel .u-icon-nav.nav-product-online {
    background-image: url(../images/nav-fn-service-h.png);
}

.u-icon-nav.nav-product-robot {
    background-image: url(../images/nav-fn-robot.png);
}

a:hover .u-icon-nav.nav-product-robot, dd.z-sel .u-icon-nav.nav-product-robot {
    background-image: url(../images/nav-fn-robot-h.png);
}

.u-icon-nav.nav-product-callcenter {
    background-image: url(../images/nav-fn-callcenter.png);
}

a:hover .u-icon-nav.nav-product-callcenter, dd.z-sel .u-icon-nav.nav-product-callcenter {
    background-image: url(../images/nav-fn-callcenter-h.png);
}

.u-icon-nav.nav-product-wherever {
    background-image: url(../images/nav-product-whereever.png);
}

a:hover .u-icon-nav.nav-product-wherever, dd.z-sel .u-icon-nav.nav-product-wherever {
    background-image: url(../images/nav-product-whereever-h.png);
}

.u-icon-nav.nav-product-wechatService {
    background-image: url(../images/nav-fn-wx.png);
}

a:hover .u-icon-nav.nav-product-wechatService, dd.z-sel .u-icon-nav.nav-product-wechatService {
    background-image: url(../images/nav-fn-wx-h.png);
}

.u-icon-nav.nav-product-worksheet {
    background-image: url(../images/nav-fn-worksheet.png);
}

a:hover .u-icon-nav.nav-product-worksheet, dd.z-sel .u-icon-nav.nav-product-worksheet {
    background-image: url(../images/nav-fn-worksheet-h.png);
}

.u-icon-nav.nav-product-arrive {
    background-image: url(../images/nav-fn-arrive.png);
}

a:hover .u-icon-nav.nav-product-arrive, dd.z-sel .u-icon-nav.nav-product-arrive {
    background-image: url(../images/nav-fn-arrive-h.png);
}

.u-icon-nav.nav-kehu-xiangchao {
    background-image: url(../images/nav-case-xckk.png);
}

a:hover .u-icon-nav.nav-kehu-xiangchao, dd.z-sel .u-icon-nav.nav-kehu-xiangchao {
    background-image: url(../images/nav-case-xckk-h.png);
}

.u-icon-nav.nav-kehu-fanhuan {
    background-image: url(../images/nav-case-fhg.png);
}

a:hover .u-icon-nav.nav-kehu-fanhuan, dd.z-sel .u-icon-nav.nav-kehu-fanhuan {
    background-image: url(../images/nav-case-fhg-h.png);
}

.u-icon-nav.nav-kehu-linggou {
    background-image: url(../images/nav-case-lg.png);
}

a:hover .u-icon-nav.nav-kehu-linggou, dd.z-sel .u-icon-nav.nav-kehu-linggou {
    background-image: url(../images/nav-case-lg-h.png);
}

.u-icon-nav.nav-kehu-fenlibao {
    background-image: url(../images/nav-case-gd.png);
}

a:hover .u-icon-nav.nav-kehu-fenlibao, dd.z-sel .u-icon-nav.nav-kehu-fenlibao {
    background-image: url(../images/nav-case-gd-h.png);
}

.u-icon-nav.nav-qa-download {
    background-image: url(../images/nav-help-download.png);
}

a:hover .u-icon-nav.nav-qa-download, dd.z-sel .u-icon-nav.nav-qa-download {
    background-image: url(../images/nav-help-download-h.png);
}

.u-icon-nav.nav-qa-qa {
    background-image: url(../images/nav-help-qa.png);
}

a:hover .u-icon-nav.nav-qa-qa, dd.z-sel .u-icon-nav.nav-qa-qa {
    background-image: url(../images/nav-help-qa-h.png);
}

.u-icon-nav.nav-qa-updateNotes {
    background-image: url(../images/nav-help-log.png);
}

a:hover .u-icon-nav.nav-qa-updateNotes, dd.z-sel .u-icon-nav.nav-qa-updateNotes {
    background-image: url(../images/nav-help-log-h.png);
}

.u-icon-nav.nav-qa-guide {
    background-image: url(../images/nav-help-dev.png);
}

a:hover .u-icon-nav.nav-qa-guide, dd.z-sel .u-icon-nav.nav-qa-guide {
    background-image: url(../images/nav-help-dev-h.png);
}

.u-icon-nav.nav-price-online {
    background-image: url(../images/nav-fn-service.png);
    background-position: 0 4px;
}

a:hover .u-icon-nav.nav-price-online, dd.z-sel .u-icon-nav.nav-price-online {
    background-image: url(../images/nav-fn-service-h.png);
}

.u-icon-nav.nav-price-robot {
    background-image: url(../images/nav-fn-robot.png);
}

a:hover .u-icon-nav.nav-price-robot, dd.z-sel .u-icon-nav.nav-price-robot {
    background-image: url(../images/nav-fn-robot-h.png);
}

.u-icon-nav.nav-price-callcenter {
    background-image: url(../images/nav-fn-callcenter.png);
}

a:hover .u-icon-nav.nav-price-callcenter, dd.z-sel .u-icon-nav.nav-price-callcenter {
    background-image: url(../images/nav-fn-callcenter-h.png);
}

.u-icon-nav.nav-price-worksheet {
    background-image: url(../images/nav-fn-worksheet.png);
}

a:hover .u-icon-nav.nav-price-worksheet, dd.z-sel .u-icon-nav.nav-price-worksheet {
    background-image: url(../images/nav-fn-worksheet-h.png);
}

@font-face {
    font-family: "iconfont";
    src: url(//at.alicdn.com/t/font_158250_d4eud64v98z7iudi.eot);
    src: url(../fonts/font_158250_d4eud64v98z7iudi.eot) format("embedded-opentype"), url(../fonts/font_158250_d4eud64v98z7iudi.woff) format("woff"), url(../fonts/font_158250_d4eud64v98z7iudi.ttf) format("truetype"), url(../fonts/font_158250_d4eud64v98z7iudi.svg#iconfont) format("svg");
}

.u-icon-font {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-circle-info:before {
    content: "\e64e";
}

.icon-one2one:before {
    content: "\e600";
}

.icon-edit:before {
    content: "\e601";
}

.icon-call:before {
    content: "\e602";
}

.icon-play:before {
    content: "\e603";
}

.icon-show:before {
    content: "\e604";
}

.icon-zoomin:before {
    content: "\e605";
}

.icon-notfullscreen:before {
    content: "\e606";
}

.icon-close:before {
    content: "\e607";
}

.icon-fullscreen:before {
    content: "\e608";
}

.icon-delete:before {
    content: "\e609";
}

.icon-arrowleft:before {
    content: "\e60a";
}

.icon-search:before {
    content: "\e60b";
}

.icon-zoomout:before {
    content: "\e60c";
}

.icon-arrowright:before {
    content: "\e60d";
}

.icon-download:before {
    content: "\e60e";
}

.icon-rotate:before {
    content: "\e60f";
}

.icon-refresh:before {
    content: "\e610";
}

.icon-pause:before {
    content: "\e611";
}

.icon-avatar:before {
    content: "\e612";
}

.icon-avatarGroup:before {
    content: "\e613";
}

.icon-success:before {
    content: "\e614";
}

.icon-clock:before {
    content: "\e615";
}

.icon-kfBusy:before {
    content: "\e616";
}

.icon-kfRest:before {
    content: "\e617";
}

.icon-kfOnline:before {
    content: "\e618";
}

.icon-save:before {
    content: "\e619";
}

.icon-cancel:before {
    content: "\e61a";
}

.icon-transfer:before {
    content: "\e61b";
}

.icon-wrong:before {
    content: "\e621";
}

.icon-correct:before {
    content: "\e622";
}

.icon-hammer:before {
    content: "\e623";
}

.icon-message:before {
    content: "\e624";
}

.icon-note:before {
    content: "\e625";
}

.icon-dashboard:before {
    content: "\e626";
}

.icon-monitor:before {
    content: "\e627";
}

.icon-list:before {
    content: "\e628";
}

.icon-msge:before {
    content: "\e61c";
}

.icon-msgx:before {
    content: "\e61d";
}

.icon-coffee:before {
    content: "\e61f";
}

.icon-stop:before {
    content: "\e620";
}

.icon-mobile:before {
    content: "\e62a";
}

.icon-triangle-down:before {
    content: "\e61e";
}

.icon-triangle-right:before {
    content: "\e629";
}

.icon-grid:before {
    content: "\e62b";
}

.icon-account:before {
    content: "\e62c";
}

.icon-shop:before {
    content: "\e62d";
}

.icon-correct1:before {
    content: "\e62e";
}

.icon-testPaper:before {
    content: "\e62f";
}

.icon-selectPart:before {
    content: "\e630";
}

.icon-selectNull:before {
    content: "\e631";
}

.icon-selectAll:before {
    content: "\e632";
}

.icon-people:before {
    content: "\e633";
}

.icon-gear:before {
    content: "\e634";
}

.icon-export:before {
    content: "\e635";
}

.icon-funnel:before {
    content: "\e636";
}

.icon-arrowdown:before {
    content: "\e637";
}

.icon-arrowup:before {
    content: "\e638";
}

.icon-messages:before {
    content: "\e639";
}

.icon-kfHangup:before {
    content: "\e63a";
}

.icon-upload:before {
    content: "\e63b";
}

.icon-vip4:before {
    content: "\e63c";
}

.icon-vip9:before {
    content: "\e63d";
}

.icon-vip3:before {
    content: "\e63e";
}

.icon-vip5:before {
    content: "\e63f";
}

.icon-vip7:before {
    content: "\e640";
}

.icon-vip6:before {
    content: "\e641";
}

.icon-vip8:before {
    content: "\e642";
}

.icon-vip1:before {
    content: "\e643";
}

.icon-vip2:before {
    content: "\e644";
}

.icon-vip10:before {
    content: "\e645";
}

.icon-gps:before {
    content: "\e646";
}

.icon-order:before {
    content: "\e647";
}

.icon-express:before {
    content: "\e648";
}

.icon-doubleArrowUp:before {
    content: "\e649";
}

.icon-msgList:before {
    content: "\e64a";
}

.icon-vip11:before {
    content: "\e64b";
}

.icon-circle-ok:before {
    content: "\e64c";
}

.icon-circle-etc:before {
    content: "\e64d";
}

.icon-cb:before {
    content: "\e650";
}

.icon-cb-sel:before {
    content: "\e651";
}

.icon-loading:before {
    content: "\e64f";
}

.icon-empty:before {
    content: "\e652";
}

.icon-headphone:before {
    content: "\e653";
}

.icon-telephone:before {
    content: "\e654";
}

.icon-long-arrowup:before {
    content: "\e655";
}

.icon-long-arrowdown:before {
    content: "\e656";
}

.icon-detail:before {
    content: "\e657";
}

.icon-unread:before {
    content: "\e658";
}

.icon-emoticon-smile:before {
    content: "\e659";
}

.icon-list-ol:before {
    content: "\e65b";
}

.icon-text-decoration:before {
    content: "\e65c";
}

.icon-text-italy:before {
    content: "\e65d";
}

.icon-text-bold:before {
    content: "\e65e";
}

.icon-picture:before {
    content: "\e65f";
}

.icon-align-left:before {
    content: "\e660";
}

.icon-align-center:before {
    content: "\e661";
}

.icon-align-right:before {
    content: "\e662";
}

.icon-paperClip:before {
    content: "\e663";
}

.icon-square:before {
    content: "\e665";
}

.icon-list-ul:before {
    content: "\e664";
}

.icon-font-size:before {
    content: "\e65a";
}

.icon-editor:before {
    content: "\e666";
}

.icon-thumbs-down:before {
    content: "\e667";
}

.icon-thumbs-up:before {
    content: "\e668";
}

.icon-pallet:before {
    content: "\e669";
}

.icon-eraser:before {
    content: "\e66a";
}

.icon-doubleArrowDown:before {
    content: "\e66b";
}

.icon-book:before {
    content: "\e66c";
}

.icon-robotC3po:before {
    content: "\e66d";
}

.icon-target:before {
    content: "\e66e";
}

.icon-graduateCap:before {
    content: "\e66f";
}

.icon-interlude:before {
    content: "\e670";
}

.icon-diamond:before {
    content: "\e671";
}

.icon-gps2:before {
    content: "\e672";
}

.icon-squareReduce:before {
    content: "\e673";
}

.icon-squarePlus:before {
    content: "\e674";
}

.icon-robotBB8:before {
    content: "\e675";
}

.icon-magnifier:before {
    content: "\e676";
}

.icon-lighting:before {
    content: "\e677";
}

.icon-circle-question-revert:before {
    content: "\e678";
}

.icon-man-in:before {
    content: "\e679";
}

.icon-chaolianjie:before {
    content: "\e67a";
}

.icon-inner:before {
    content: "\e67b";
}

.icon-outer:before {
    content: "\e67c";
}

.icon-circle-question:before {
    content: "\e67d";
}

.icon-mute:before {
    content: "\e67e";
}

.icon-hangup:before {
    content: "\e67f";
}

.icon-star-out:before {
    content: "\e680";
}

.icon-call-back:before {
    content: "\e681";
}

.icon-clock-reminder:before {
    content: "\e682";
}

.icon-Shape:before {
    content: "\e683";
}

.icon-blacklist:before {
    content: "\e684";
}

.icon-chart-monitor:before {
    content: "\e687";
}

.icon-invalid:before {
    content: "\e688";
}

.icon-ineffective:before {
    content: "\e689";
}

.icon-valid:before {
    content: "\e68a";
}

.icon-voice-big:before {
    content: "\e685";
}

.icon-voice-small:before {
    content: "\e686";
}

.icon-voice-middle:before {
    content: "\e68b";
}

.icon-set-type:before {
    content: "\e68c";
}

.icon-jingshi:before {
    content: "\e68d";
}

.m-form {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #373d40;
    text-align: left;
    padding-bottom: 10px;
}

.m-form .m-form__item {
    position: relative;
    padding: 13px;
    white-space: nowrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.m-form .m-form__itemError {
    color: #f00;
    margin-top: -10px;
    margin-bottom: -10px;
}

.m-form .m-form__item-lab {
    box-sizing: border-box;
    position: absolute;
    left: 15px;
    top: 15px;
    width: 95px;
    padding-right: 20px;
}

.m-form .m-form__item-ipt {
    padding-left: 95px;
}

.m-form .m-form__item-require {
    position: absolute;
    right: 20px;
    top: 2px;
    color: #f00;
}

.m-form .m-form__border {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #d7d7db;
    border-radius: 5px;
    user-select: none;
    z-index: 0;
    transition: 0.3s;
}

.m-form .m-form__iptClear {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 50px;
    font-size: 30px;
    color: #c7c7c7;
    cursor: pointer;
    user-select: none;
    z-index: 2;
}

.m-form .m-form__iptClear:hover {
    color: #b0b0b0;
}

.m-form .m-form__input {
    margin: 0;
    padding: 0;
}

.m-form .m-form__input .m-form__input-wgt {
    box-sizing: border-box;
    position: relative;
    padding: 4px 0;
    padding-right: 30px;
    width: 100%;
    border: 0;
    z-index: 1;
    font-size: 14px;
    line-height: 1.5;
}

.m-form .m-form__input .m-form__input-wgt.z-focus ~ .m-form__border {
    border-color: #49a0f5;
    transition: 0.3s;
}

.m-form .m-form__input .m-form__input-wgt.z-error ~ .m-form__border {
    border-color: #f00;
    transition: 0.3s;
}

.m-form .m-form__input .m-form__input-wgt.z-focus ~ .m-form__iptClear {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.m-notify {
    position: fixed;
    z-index: 100040;
    box-sizing: border-box;
    display: inline-block;
}

.m-notify .notify_text {
    color: #c08722;
}

.m-notify .notify_text a {
    color: #62a8ea;
}

.m-notify .notify_text a:hover {
    color: #89bceb;
}

.m-notify .notify_text a:active {
    color: #4e97d9;
}

.m-notify .notify_message {
    background-color: #fff9e2;
}

.m-notify .u-icon-status {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin-right: 7px;
    vertical-align: middle;
}

.m-notify .u-icon-close {
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    transform: translateY(3px);
    margin-left: 10px;
}

.m-notify .notify_close {
    visibility: hidden;
    float: right;
    border: none;
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    opacity: 0.3;
    transform: translateY(3px);
}

.m-notify .notify_message {
    position: relative;
    padding: 20px 26px;
    color: rgba(0, 0, 0, 0.9);
    box-shadow: 1px 1px 10px #ddd;
    line-height: 16px;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}

.m-notify .notify_message:hover > .notify_close {
    visibility: visible;
}

.m-notify .notify_text {
    display: inline-block;
    box-sizing: border-box;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    vertical-align: middle;
}

.m-notify .notify_text img {
    margin-left: 15px;
    vertical-align: top;
}

.m-notify .notify_loading {
    display: inline-block;
    vertical-align: middle;
}

.m-notify-top-left {
    left: 12px;
    right: auto;
}

.m-notify-top-right {
    right: 12px;
    left: auto;
}

.m-notify-middle-center {
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
}

.m-notify-top-center {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.m-notify-success .notify_message {
    padding: 20px 53px;
}

.m-notify-center {
    position: fixed;
    z-index: 100009;
    box-sizing: border-box;
    right: 30px;
    top: 80px;
    width: 400px;
}

.m-notify-center .notify_message {
    background: #ecf3f9;
    border: 1px solid #e4f0fa;
    border-radius: 4px;
    padding: 12px 30px 12px 20px;
    margin-bottom: 6px;
    white-space: nowrap;
    box-sizing: border-box;
    height: 44px;
    display: flex;
    justify-content: space-between;
}

.m-notify-center .notify_message .notify_text {
    display: inline-block;
    font-size: 14px;
    color: #5092e1;
    height: 20px;
    line-height: 20px;
}

.m-notify-center .notify_message .notify_action {
    margin-left: 10px;
}

.m-notify-center .notify_message .notify_action .u-icon-font {
    line-height: 20px;
}

.m-modal-imgCode {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.m-modal-imgCode:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.m-modal-imgCode .m-modal-imgCode__tr {
    width: 100%;
    height: 100%;
}

.m-modal-imgCode .m-modal-imgCode__td {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.m-modal-imgCode .m-modal-imgCode__dialog {
    position: relative;
    display: inline-block;
    *display: inline-blockine;
    *zoom: 1;
    width: 500px;
    z-index: 1;
}

.m-imgcode {
    font-size: 14px;
    line-height: 1.2;
    color: #373d40;
    background-color: #fff;
}

.m-imgcode .m-imgcode__head {
    padding: 40px 0;
}

.m-imgcode .m-imgcode__head .m-imgcode__ttl {
    font-size: 28px;
}

.m-imgcode .m-imgcode__head .m-imgcode__closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.m-imgcode .m-imgcode__head .m-imgcode__closeBtn:hover .img {
    opacity: 1;
}

.m-imgcode .m-imgcode__head .m-imgcode__closeBtn .img {
    width: 19px;
    opacity: 0.8;
}

.m-imgcode .m-imgcode__body {
    padding: 0 50px 50px 50px;
}

.m-imgcode .m-imgcode__body .m-imgcode__content {
    margin-bottom: 10px;
    white-space: nowrap;
    text-align: left;
}

.m-imgcode .m-imgcode__body .m-imgcode__operate {
    margin-top: 10px;
}

.m-imgcode .m-imgcode__body .m-imgcode__input {
    display: inline-block;
    *display: inline-blockine;
    *zoom: 1;
    position: relative;
    width: 280px;
}

.m-imgcode .m-imgcode__body .m-imgcode__inputwgt {
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
    height: 45px;
    color: #373d40;
    line-height: 45px;
    border: 1px solid #d7d8da;
    border-radius: 5px;
    vertical-align: top;
}

.m-imgcode .m-imgcode__body .m-imgcode__inputwgt:hover {
    border-color: #cacbce;
}

.m-imgcode .m-imgcode__body .m-imgcode__inputwgt.z-focus {
    border-color: #488bff;
}

.m-imgcode .m-imgcode__body .m-imgcode__inputwgt.z-error {
    border-color: #fc5d5b;
}

.m-imgcode .m-imgcode__body .m-imgcode__clearbtn {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    color: #cdcdcd;
    line-height: 42px;
    width: 30px;
    height: 45px;
    cursor: pointer;
}

.m-imgcode .m-imgcode__body .m-imgcode__imgwgt {
    width: 110px;
    height: 45px;
    vertical-align: top;
    margin-left: 8px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    overflow: hidden;
}

.m-imgcode .m-imgcode__body .m-imgcode__prompt .icon {
    width: 16px;
    height: 16px;
    vertical-align: top;
}

.m-imgcode .m-imgcode__body .m-imgcode__prompt .correct {
    text-align: left;
}

.m-imgcode .m-imgcode__body .m-imgcode__prompt .correct .text {
    color: #3fbf89;
    vertical-align: top;
}

.m-imgcode .m-imgcode__body .m-imgcode__prompt .wrong {
    text-align: left;
}

.m-imgcode .m-imgcode__body .m-imgcode__prompt .wrong .text {
    color: #f25058;
    vertical-align: top;
}

.m-imgcode .u-btn-imgcode {
    box-sizing: border-box;
    padding: 12px;
    width: 100%;
    background-color: #62a8ea;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    border: 0;
    border-radius: 5px;
    line-height: 1.5;
}

.m-imgcode .u-btn-imgcode:hover {
    border: 0;
    background-color: #4c9ce7;
}

.m-imgcode .u-btn-imgcode.z-disabled {
    background-color: #d2e6f9;
    cursor: default;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

html, body {
    height: 100%;
}

html {
    font-size: 10px;
}

.g-nav2 {
    background-color: #fff;
    border-bottom: 0;
}

.g-hd {
    overflow: hidden;
    min-width: 1000px;
}

.g-hd .bg-wrapper {
    margin-top: 61px;
    height: 490px;
    background: url(../images/bg-bar1.png) center 100% repeat-x;
    background-size: cover;
    text-align: center;
}

.g-hd .bg-wrapper .imgtxt {
    display: block;
    position: absolute;
    left: 0;
    top: 130px;
}

.g-hd .bg-wrapper .imgtxt2 {
    display: block;
    position: absolute;
    right: -145px;
    top: 30px;
}

.g-hd .bg-wrapper a {
    zoom: 1;
    display: inline-block;
    position: relative;
    padding: 12px 31px;
    background: #49a0f5;
    border-radius: 2px;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    transition: 0.2s ease;
}

.g-hd .bg-wrapper a:hover {
    background: #237ed9;
}

.g-hd .bg-wrapper .txt {
    margin-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.g-hd .contentWrap {
    position: relative;
    width: 980px;
    height: 490px;
    padding: 0 10px;
    margin: 0 auto;
}

.g-hd .contentWrap .btn-outline {
    position: absolute;
    bottom: 152px;
    left: 0;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    transition: 0.5s;
}

.g-hd .contentWrap .btn-outline:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 1200px) {
    .g-hd .contentWrap {
        width: 1180px;
    }
}

.g-section {
    overflow: hidden;
    background-color: #fff;
}

.g-section.g-section-whyme {
    background-color: #fff;
}

.g-section.g-section-return {
    background-color: #f4f6f8;
}

.g-section.g-section-condition {
    background-color: #fff;
}

.g-section.g-section-joinForm {
    box-sizing: border-box;
    position: relative;
    padding-top: 80px;
    padding-bottom: 90px;
    height: 750px;
    background-color: #151d3e;
    /*background-image: linear-gradient(to bottom, #582bfe, #4f7ff9);*/
}

.g-section.g-section-joinForm .g-section-joinForm__top {
    position: absolute;
    top: 0;
    left: 0;
}

.g-section.g-section-joinForm .g-section-joinForm__bot {
    position: absolute;
    bottom: 0;
    left: 0;
}

.g-section.g-section-joinForm .g-section-joinForm__content {
    position: relative;
    z-index: 1;
}

.g-section.g-section-map {
    background-color: #fff;
}

.m-nav2 {
    transform: translateY(3px);
    zoom: 1;
    width: 980px;
    border-bottom: 1px solid #eee;
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
}

.m-nav2:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}

@media screen and (min-width: 1200px) {
    .m-nav2 {
        width: 1180px;
    }
}

.m-nav2 .m-nav2__Ul {
    zoom: 1;
    display: inline-block;
    *display: inline-blockine;
    *zoom: 1;
    vertical-align: bottom;
}

.m-nav2 .m-nav2__Ul:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}

.m-nav2 .m-nav2__Ul-item {
    float: left;
    margin-left: 93px;
}

.m-nav2 .m-nav2__Ul-item.first {
    margin-left: 0;
}

.m-nav2 .m-nav2__Ul-item .linkx {
    display: inline-block;
    *display: inline-blockine;
    *zoom: 1;
    padding: 57px 0 18px 0;
    font-size: 14px;
    color: #383838;
    border-bottom: 2px solid #fff;
}

.m-nav2 .m-nav2__Ul-item .linkx:hover {
    color: #3b8fea;
}

.m-nav2 .m-nav2__Ul-item .linkx.z-sel {
    color: #3b8fea;
    border-bottom: 2px solid #3b8fea;
}

.m-nav2 .m-nav2__Ul-item .text {
    vertical-align: middle;
}

.m-nav2 .u-icon-nav {
    display: inline-block;
    *display: inline-blockine;
    *zoom: 1;
    vertical-align: middle;
    font-size: 18px;
    color: #383838;
}

.m-nav2 .z-sel .u-icon-nav {
    color: #3b8fea;
}

.m-nav2 .z-sel .u-icon-nav.nav-price-online {
    background-image: url(../images/nav-fn-service-h.png);
}

.m-nav2 .z-sel .u-icon-nav.nav-price-callcenter {
    background-image: url(../images/nav-fn-callcenter-h.png);
}

.m-nav2 .z-sel .u-icon-nav.nav-price-worksheet {
    background-image: url(../images/nav-fn-worksheet-h.png);
}

.m-nav2 .z-sel .u-icon-nav.nav-price-robot {
    background-image: url(../images/nav-fn-robot-h.png);
}

.m-merchants {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 83px 10px;
}

.m-merchants .u-title {
    font-size: 38px;
    color: #383838;
    margin-bottom: 46px;
    text-align: center;
}

.m-merchants .u-summary {
    font-size: 18px;
    color: #898b93;
    line-height: 32px;
    margin-bottom: 54px;
    text-align: center;
}

.m-merchants .m-maps {
    zoom: 1;
}

.m-merchants .m-maps:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}

.m-merchants .m-maps .m-echart {
    float: left;
    width: 500px;
}

.m-merchants .m-maps .m-search {
    float: left;
    width: 450px;
}

.m-echart {
    width: 380px;
    height: 450px;
}

.m-echart .map {
    float: right;
    width: 600px;
    height: 600px;
    margin-top: -110px;
    margin-right: -55px;
}

.m-search {
    padding-left: 45px;
    padding-top: 60px;
}

.m-search .searchBar .u-ipt {
    margin-left: 10px;
}

.m-search .searchBar .btn-search {
    vertical-align: top;
    padding: 11px 30px;
    margin-left: 10px;
    opacity: 0.69;
    background: #49a0f5;
    border-radius: 3px;
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.45px;
    line-height: 1;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.m-search .searchBar .btn-search:hover {
    opacity: 1;
}

.m-search .searchBar .btn-search.z-dis {
    background-color: #d1d1d1;
    cursor: default;
    opacity: 0.6;
}

.m-search .searchBar .btn-search.z-dis:hover {
    background-color: #d1d1d1;
}

.m-search .resultBar {
    display: none;
    padding: 21px 16px;
    width: 396px;
    background: #fff;
    border: 1px solid #e4e4e4;
    box-shadow: 0px 2px 4px 0px rgba(213, 213, 213, 0.5);
    border-radius: 3px;
    margin-top: 10px;
}

.m-search .resultBar.z-show {
    display: block;
}

.m-search .resultBar.noResult .title {
    text-align: center;
}

.m-search .resultBar .title {
    font-size: 20px;
    line-height: 1;
    color: #383838;
}

.m-search .resultBar .content {
    margin-top: 22px;
}

.m-search .resultBar .content li {
    zoom: 1;
    padding: 4px 0;
    line-height: 1.5;
}

.m-search .resultBar .content li:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}

.m-search .resultBar .content .name {
    display: inline-block;
    *display: inline-blockine;
    *zoom: 1;
    width: 80px;
    font-size: 16px;
    color: #383838;
    vertical-align: top;
}

.m-search .resultBar .content .value {
    display: inline-block;
    *display: inline-blockine;
    *zoom: 1;
    width: 285px;
    font-size: 16px;
    color: #808286;
    white-space: normal;
    word-break: break-all;
    vertical-align: top;
}

.m-whyme {
    width: 980px;
    padding: 85px 10px;
    margin: 0 auto;
}

.m-whyme .title1 {
    font-size: 38px;
    line-height: 1;
    color: #343944;
    text-align: center;
    padding-bottom: 88px;
}

.m-whyme .items {
    text-align: center;
}

.m-whyme .itm {
    *zoom: 1;
    width: 225px;
    vertical-align: top;
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
    padding-top: 23.5px;
    padding-bottom: 23.5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid #E8E7E7;
}

.m-whyme .itm.first {
    margin-left: 0;
}

.m-whyme .itm .img {
    margin-bottom: 23.5px;
}

.m-whyme .itm .ttl {
    font-size: 20px;
    color: #343944;
    margin-bottom: 19px;
}

.m-whyme .itm .summary {
    font-size: 14px;
    color: #808286;
    line-height: 28px;
}

.m-return {
    width: 980px;
    padding: 85px 10px;
    margin: 0 auto;
}

.m-return .title1 {
    font-size: 38px;
    line-height: 1;
    color: #343944;
    text-align: center;
    padding-bottom: 56px;
}

.m-return .items {
    text-align: center;
}

.m-return .itm {
    display: inline-block;
    *display: inline-blockine;
    *zoom: 1;
    width: 160px;
    margin-left: 160px;
    vertical-align: top;
}

.m-return .itm.first {
    margin-left: 0;
}

.m-return .itm.line2 {
    margin-top: 76px;
}

.m-return .itm .img {
    margin-bottom: 22px;
}

.m-return .itm .ttl {
    font-size: 20px;
    color: #343944;
    margin-bottom: 16px;
}

.m-return .itm .summary {
    font-size: 14px;
    color: #808286;
    line-height: 30px;
    text-align: left;
    margin-left: 10px;
}

.m-condition {
    width: 980px;
    padding: 85px 10px;
    margin: 0 auto;
}

.m-condition .title1 {
    font-size: 38px;
    line-height: 1;
    color: #343944;
    text-align: center;
    padding-bottom: 50px;
}

.m-condition .items {
    text-align: center;
}

.m-condition .itm {
    display: inline-block;
    *display: inline-blockine;
    *zoom: 1;
    width: 260px;
    margin-left: 50px;
    vertical-align: top;
}

.m-condition .itm.first {
    margin-left: 0;
}

.m-condition .itm .img {
    margin-bottom: 27px;
}

.m-condition .itm .summary {
    font-size: 16px;
    color: #383838;
    line-height: 26px;
}

.m-join {
    width: 980px;
    height: 402px;
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
}

.m-join .title1 {
    font-size: 38px;
    color: #fff;
    padding-top: 85px;
    padding-bottom: 50px;
}

.m-join .items {
    text-align: center;
    margin-left: 10px;
}

.m-join .itm {
    display: inline-block;
    *display: inline-blockine;
    *zoom: 1;
    width: 175px;
    margin-left: 280px;
    vertical-align: top;
}

.m-join .itm.first {
    margin-left: 0;
}

.m-join .itm .title {
    text-align: left;
    margin-bottom: 19px;
    margin-left: -50px;
}

.m-join .itm .title .dot1 {
    width: 42px;
    height: 42px;
    vertical-align: middle;
}

.m-join .itm .title .dot2 {
    width: 23px;
    height: 19px;
    vertical-align: middle;
}

.m-join .itm .title .txt {
    display: inline-block;
    *display: inline-blockine;
    *zoom: 1;
    vertical-align: -3px;
    font-size: 22px;
    color: #fff;
    letter-spacing: 0.13px;
    line-height: 26px;
    margin-bottom: 19px;
    margin-left: 3px;
}

.m-join .itm .list li {
    text-align: left;
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.11px;
    line-height: 28px;
}

.m-joinForm {
    box-sizing: border-box;
    padding: 50px;
    width: 530px;
    margin: 0 auto;
    /*border: 1px solid #0fdebd;*/
    background-color: #fff;
    border-radius: 4px;
}

.m-joinForm .m-joinForm__head {
    padding-bottom: 20px;
    text-align: center;
}

.m-joinForm .m-joinForm__head .center {
    display: inline-block;
    *display: inline-blockine;
    *zoom: 1;
}

.m-joinForm .m-joinForm__head .logo {
    width: 48px;
    height: 43px;
    vertical-align: top;
}

.m-joinForm .m-joinForm__head .ttl {
    display: inline-block;
    *display: inline-blockine;
    *zoom: 1;
    margin-left: 20px;
    font-size: 34px;
    color: #383838;
    vertical-align: top;
    line-height: 1.3;
}

.m-joinForm .m-joinForm__body {
    text-align: center;
}

.m-joinForm .m-joinForm__foot {
    margin-top: 45px;
}

.m-joinForm .m-joinForm__foot .u-btn-submit {
    display: block;
}

.m-joinForm .m-joinForm__resultCnt {
    display: inline-block;
    *display: inline-blockine;
    *zoom: 1;
    padding-top: 30px;
    text-align: center;
}

.m-joinForm .m-joinForm__resultCnt .sectioin {
    padding: 10px;
}

.m-joinForm .m-joinForm__resultCnt .ttl {
    font-size: 22px;
    line-height: 2;
    color: #383838;
}

.m-joinForm .m-joinForm__resultCnt .summary {
    font-size: 14px;
    color: #9b9ba3;
}

.u-select {
    position: relative;
    display: inline-block;
    *display: inline-blockine;
    *zoom: 1;
    vertical-align: top;
}

.u-select .opt {
    display: inline-block;
    *display: inline-blockine;
    *zoom: 1;
    padding: 12px 9px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    vertical-align: bottom;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.u-select .opt.z-show {
    border-color: #3b8fea;
}

.u-select .opt .txt {
    display: inline-block;
    *display: inline-blockine;
    *zoom: 1;
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 85px;
    min-width: 75px;
    font-size: 16px;
    color: #999;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
}

.u-select .opt .arrow {
    display: inline-block;
    *display: inline-blockine;
    *zoom: 1;
    width: 0;
    height: 0;
    line-height: 16px;
    vertical-align: -5px;
    border-width: 6px 5px 5px;
    border-style: solid;
    border-color: #bfbfbf;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.u-select .opt .arrow.up {
    transform: rotate(180deg);
    vertical-align: -1px;
}

.u-select .opt:hover .txt {
    color: #3b8fea;
}

.u-select .opt:hover .arrow {
    border-top-color: #3b8fea;
}

.u-select .panel {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    height: 300px;
    padding: 10px 23px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: 0px 2px 4px 0px rgba(213, 213, 213, 0.5);
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-user-select: none;
    user-select: none;
}

.u-select .panel.z-show {
    display: block;
}

.u-select .panel li {
    padding: 7px 0;
    min-width: 60px;
    text-align: center;
}

.u-select .panel li.z-sel {
    color: #3b8fea;
}

.u-select .panel li span {
    font-size: 16px;
    color: #383838;
    line-height: 1;
    cursor: pointer;
}

.u-select .panel li span:hover {
    color: #3b8fea;
}

.u-select .panel li.z-sel span {
    color: #3b8fea;
}

.u-ipt {
    vertical-align: top;
    padding: 11px 11px;
    font-size: 16px;
    color: #999;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.u-ipt:focus {
    border-color: #49a0f5;
}

.u-btn.u-btn-submit {
    display: block;
    width: 100%;
    padding: 10px 25px;
    background-color: #488bff;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
    border: 0;
}

.u-btn.u-btn-submit:hover {
    background-color: #5795ff;
}

.u-btn.u-btn-submit.z-disabled {
    background-color: #aeccff;
    cursor: default;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #eee;
}

::-webkit-scrollbar-track {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    background: #fff;
}

@media screen and (max-width: 320px) {
    html {
        font-size: 4px;
    }
}

@media screen and (max-width: 375px) {
    html {
        font-size: 5px;
    }
}

@media screen and (max-width: 414px) {
    html {
        font-size: 6px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 8px;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 10px;
    }
}